<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <table>
        <thead>
            <th>#</th>
            <th>名稱</th>
            <th>電話</th>
            <th>地址</th>
            <th>成人口罩庫存</th>
            <th>孩童口罩庫存</th>
        </thead>
        <tbody>
            <% data.forEach((item ,index) => { %>
                <tr>
                    <td><%= index+1%></td>
                    <td><%= item.name%></td>
                    <td><%= item.phone%></td>
                    <td><%= item.address%></td>
                    <td><%= item.adult_mask%></td>
                    <td><%= item.child_mask%></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>